.img-link {
  outline: 4px solid white;
  transition: 0.25s ease-in-out;
}
.img-link:hover {
  outline: 4px solid red;
}
.img-services {
  position: relative;
  top: -420px;
}
@media (max-width: 768px) {
  .img-services {
    display: none;
  }
}
