.img-link {
    outline: 4px solid white;
    transition: .25s ease-in-out;

    &:hover {
        outline: 4px solid red;
    }
}

.img-services {
    position: relative;
    top: -420px;

    @media (max-width: 768px) {
        display: none;
    }
}