.img-link {
    outline: 4px solid white;
    transition: .25s ease-in-out;

    &:hover {
        outline: 4px solid red;
    }
}

.img-services {
    position: relative;
    top: -42vh;

    @media (max-width: @screen-md) {
        display: none;
    }
}