@import 'variables';
@import 'positioning';
@import 'backgrounds';
@import 'structure';
@import 'navbars';
@import 'images';
@import 'footers';
@import 'lists';

* {
  box-sizing: border-box;
}

html * {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 56px;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    .bg-textile-light-gray;
  }
}