@import 'positioning';
@import 'backgrounds';
@import 'images';
@import 'footers';
@import 'lists';

* {
  box-sizing: border-box;
}

html * {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 56px;
}

.nav-link {
  // removes black flash in nav after redirect
  transition: none !important;
}

.service-header {
  height: 276.8px;
}