.stagger-up {
  position: relative;
  bottom: 64px;
}
.bg-textile-dark-blue {
  background: url(../../Public/resources/img/textile-texture-dark-blue.jpg);
}
.bg-textile-light-blue {
  background: url(../../Public/resources/img/textile-texture-light-blue.jpg);
}
.bg-textile-gray {
  background: url(../../Public/resources/img/textile_texture_gray.jpg);
}
.bg-textile-light-gray {
  background: url(../../Public/resources/img/textile-texture-medium-gray.jpg);
}
.img-link {
  outline: 4px solid white;
  transition: 0.25s ease-in-out;
}
.img-link:hover {
  outline: 4px solid red;
}
.img-services {
  position: relative;
  top: -420px;
}
@media (max-width: 768px) {
  .img-services {
    display: none;
  }
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
ul {
  list-style-type: '-  ';
}
* {
  box-sizing: border-box;
}
html * {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 56px;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-thumb {
  background: url(../../Public/resources/img/textile-texture-medium-gray.jpg);
}
.nav-link {
  transition: none !important;
}
.service-header {
  height: 42vh;
}
@media (min-width: 996px) {
  .service-header p,
  .service-header b {
    font-size: 1.15rem;
  }
  .service-header h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .service-header {
    height: 100%;
  }
}
