.bg-textile-dark-blue {
  background: url(../../Public/resources/img/textile-texture-dark-blue.jpg);
}
.bg-textile-light-blue {
  background: url(../../Public/resources/img/textile-texture-light-blue.jpg);
}
.bg-textile-gray {
  background: url(../../Public/resources/img/textile_texture_gray.jpg);
}
.bg-textile-light-gray {
  background: url(../../Public/resources/img/textile-texture-medium-gray.jpg);
}
.img-link {
  outline: 4px solid white;
}
.img-link:hover {
  outline: 4px solid red;
}
* {
  box-sizing: border-box;
}
html * {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
