.bg-textile-dark-blue {
  background: url(../../Public/resources/img/textile-texture-dark-blue.jpg);
}
.bg-textile-light-blue {
  background: url(../../Public/resources/img/textile-texture-light-blue.jpg);
}
.bg-textile-gray {
  background: url(../../Public/resources/img/textile_texture_gray.jpg);
}
.bg-textile-light-gray {
  background: url(../../Public/resources/img/textile-texture-medium-gray.jpg);
}
.img-link {
  outline: 4px solid white;
}
.img-link:hover {
  outline: 4px solid red;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
* {
  box-sizing: border-box;
}
html * {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 56px;
}
.nav-link {
  transition: none !important;
}
